@model Centrics.Models.Log
@using Microsoft.AspNetCore.Http
@using Centrics.Models
@{
    ViewData["Title"] = "Logs";
    var LogData = ViewBag.LogsData;
}
<script>
    function SearchFunction() {
        var input, filter, table, tr, td, i;
        LoginFilter = document.getElementById("LoginFilter");
        TwoFAFilter = document.getElementById("2FAFilter");
        ChangePassFilter = document.getElementById("ChangePassFilter");
        DeleteFilter = document.getElementById("DeleteFilter");
        EditFilter = document.getElementById("EditFilter");
        ForgotFilter = document.getElementById("ForgotFilter");
        RegisterFilter = document.getElementById("RegisterFilter");
        input = document.getElementById("SearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("LogTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            if (LoginFilter.checked == true) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Login" || td.innerHTML == "Logout") {
                            td2 = tr[i].getElementsByTagName("td")[3];
                            if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            } else if (LoginFilter.checked == false) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Login" || td.innerHTML == "Logout") {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            if (TwoFAFilter.checked == true) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "2 Factor Authentication") {
                            td2 = tr[i].getElementsByTagName("td")[3];
                            if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            } else if (TwoFAFilter.checked == false) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "2 Factor Authentication") {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            if (ChangePassFilter.checked == true) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Password Change") {
                            td2 = tr[i].getElementsByTagName("td")[3];
                            if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            } else if (ChangePassFilter.checked == false) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Password Change") {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            if (DeleteFilter.checked == true) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "User Deleted") {
                            td2 = tr[i].getElementsByTagName("td")[3];
                            if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            } else if (DeleteFilter.checked == false) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "User Deleted") {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            if (EditFilter.checked == true) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "User Edited") {
                            td2 = tr[i].getElementsByTagName("td")[3];
                            if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            } else if (EditFilter.checked == false) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "User Edited") {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            if (ForgotFilter.checked == true) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Forgot Password") {
                            td2 = tr[i].getElementsByTagName("td")[3];
                            if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            } else if (ForgotFilter.checked == false) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Forgot Password") {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            if (RegisterFilter.checked == true) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Registration") {
                            td2 = tr[i].getElementsByTagName("td")[3];
                            if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            } else if (RegisterFilter.checked == false) {
                for (i = 1; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        if (td.innerHTML == "Registration") {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    }

    function FilterLogs() {
        var checkbox;
        var input = document.getElementById("SearchInput");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("LogTable");
        var tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
        }
        LoginFilter = document.getElementById("LoginFilter");
        TwoFAFilter = document.getElementById("2FAFilter");
        ChangePassFilter = document.getElementById("ChangePassFilter");
        DeleteFilter = document.getElementById("DeleteFilter");
        EditFilter = document.getElementById("EditFilter");
        ForgotFilter = document.getElementById("ForgotFilter");
        RegisterFilter = document.getElementById("RegisterFilter");
        ClientFilter = document.getElementById("ClientFilter");
        ContractFilter = document.getElementById("ContractFilter");
        SRFilter = document.getElementById("SRFilter");

        if (LoginFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Login" || td.innerHTML == "Logout") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (LoginFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Login" || td.innerHTML == "Logout") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        if (TwoFAFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "2 Factor Authentication") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (TwoFAFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "2 Factor Authentication") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        if (RegisterFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Registration") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (RegisterFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Registration") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        if (ChangePassFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Password Change") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (ChangePassFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Password Change") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        if (DeleteFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "User Deleted") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (DeleteFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "User Deleted") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        if (EditFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "User Edited") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (EditFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "User Edited") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        if (ForgotFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Forgot Password") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (ForgotFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Forgot Password") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        if (ClientFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Client") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (ClientFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Client") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        if (ContractFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Contract") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (ContractFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Contract") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        if (SRFilter.checked == true) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Service Report") {
                        td2 = tr[i].getElementsByTagName("td")[3];
                        if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        } else if (SRFilter.checked == false) {
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML == "Service Report") {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>
<style>
    * {
        box-sizing: border-box;
    }

    #SearchInput {
        background-image: url('../../images/search_icon.jpg');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #SearchButton {
        width: 10%;
    }

    #LogTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 16px;
    }

        #LogTable th, #LogTable td {
            text-align: left;
            padding: 12px;
        }

        #LogTable tr {
            border-bottom: 1px solid #ddd;
        }

            #LogTable tr.header, #LogTable tr:hover {
                background-color: #f1f1f1;
            }
</style>

<h2>Action Logs</h2>

<input type="text" id="SearchInput" onkeyup="SearchFunction()" placeholder="Search for logs" title="Log Search">
<h3><strong>Filters</strong></h3>
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="LoginFilter">Login & Logout</label> <br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="RegisterFilter">Registration</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="2FAFilter">2 Factor Authentication</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="ForgotFilter">Forgot Password</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="ChangePassFilter">Password Change</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="DeleteFilter">User Deleted</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="EditFilter">User Edited</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="ClientFilter">Client</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="ContractFilter">Contract</label><br />
<label name="filterLabel"><input type="checkbox" onchange="FilterLogs()" name="filterBox" id="SRFilter">Service Report</label><br />
<div>
    <hr />
    <table id="LogTable">
        <tr class="header">
            <th style="width:8%;">Log ID:</th>
            <th style="width:8%;">User ID:</th>
            <th style="width:17.5%;">Type:</th>
            <th style="width:20.5%;">Email:</th>
            <th style="width:30%;">Action Performed:</th>
            <th style="width:16%;">Date & Time Performed:</th>
        </tr>
        @if (LogData != null)
        {
            @for (int i = 0; i < LogData.Count; i++)
            {
                <tr>
                    <td>@LogData[i].LogID</td>
                    <td>@LogData[i].UserID</td>
                    <td>@LogData[i].Type</td>
                    <td>@LogData[i].UserEmail</td>
                    <td>@LogData[i].ActionPerformed</td>
                    <td>@LogData[i].DateTimePerformed</td>
                </tr>
            }
        }
    </table>
    @if (Context.Session.GetString("AdminValidity") == "Super Admin")
    {
        @Html.ActionLink("Delete All Logs", "DeleteAllLogs", new { LogDeletion = true }, new { @class = "button", onclick = "return confirm('Deleting all logs are irreversible, are you sure you want to do this?');" })
    }
</div>