@model Centrics.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
@if (ViewBag.Message == null)
{
    @using (Html.BeginForm("ForgotPassword", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.UserEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
            </div>
        </div>

        <input type="submit" value="Send Reset Password Link" />

    }
}

else if (ViewBag.Message != null)
{
    @ViewBag.Message
}