@model Centrics.Models.TwoFactorAuth
@{
    ViewData["Title"] = "Send2FA";
}
<script>
    window.onload = function () {
        var input = document.getElementById("2FACode").focus();
    }
</script>
<h2>2 Factor Authentication</h2>
<div> @ViewBag.Message </div>
<div>
    <img src="@ViewBag.BarcodeImageUrl" />
</div>
@if(ViewBag.SetupCode != null)
{
<div>
    Manual Setup Code: @ViewBag.SetupCode
</div>
}
@using (@Html.BeginForm("Send2FA", "Users", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.CodeDigit, new { @id = "2FACode", @class = "form control", @maxlength = 6 })

    <input type="submit" class="btn btn-success" />
}


@Html.ActionLink("Reset 2FA", "Reset2FA", new { Reset2FA = "True" }, new { @class = "button", onclick = "return confirm('Are you sure you want to reset your Google Authenticator codes?');" })
