@model Centrics.Models.User
@using Centrics.Models
@{
    ViewData["Title"] = "View Users";
    var UsersData = ViewBag.UsersData;
}

<h2>View All Users</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @for (int i = 0; i < UsersData.Count; i++)
    {
        <dt>@Html.DisplayNameFor(model => model.UserID)</dt>
        <dd>@UsersData[i].UserID</dd>
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@UsersData[i].FirstName</dd>
        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@UsersData[i].LastName</dd>
        <dt>@Html.DisplayNameFor(model => model.UserEmail)</dt>
        <dd>@UsersData[i].UserEmail</dd>
        <dt>@Html.DisplayNameFor(model => model.UserRole)</dt>
        <dd>@UsersData[i].UserRole</dd>
        @Html.ActionLink("DeleteUser", "Users", new { })
        <dd><br /></dd>
    }
    </dl>
</div>
