@model Centrics.Models.User
@using Centrics.Models
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "View Users";
    var UsersData = ViewBag.UsersData;
}
<style>
    * {
        box-sizing: border-box;
    }

    #SearchInput {
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #UserTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 16px;
    }

        #UserTable th, #UserTable td {
            text-align: left;
            padding: 12px;
        }

        #UserTable tr {
            border-bottom: 1px solid #ddd;
        }

            #UserTable tr.header, #UserTable tr:hover {
                background-color: #f1f1f1;
            }
</style>
<script>
    function SearchFunction() {
        var input, filter, table, tr, td, td2, i;
        var UserIDFilter, NameFilter, EmailFilter;
        input = document.getElementById("SearchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("UserTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            if (document.getElementById("IDFilter").checked) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            } else if (document.getElementById("NameFilter").checked) {
                td = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            } else if (document.getElementById("EmailFilter").checked) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }

</script>
<h2>View All Users</h2>
<input type="text" id="SearchInput" placeholder="Search for users" title="User Search">
<input type="radio" class="SearchFilters" id="IDFilter" name="Filters" value="User ID" checked="checked" /> User ID<br />
<input type="radio" class="SearchFilters" id="NameFilter" name="Filters" value="Name" /> Name<br />
<input type="radio" class="SearchFilters" id="EmailFilter" name="Filters" value="Email" /> Email<br />
<input type="button" id="SearchButton" onclick="SearchFunction()" value="Search" runat="server" onserverclick="return false;" />
<div>
    <hr />
    @TempData["Status"]
    <table id="UserTable">
        <tr class="header">
            <th style="width:10%;">User ID:</th>
            <th style="width:15%;">First Name:</th>
            <th style="width:15%;">Last Name:</th>
            <th style="width:30%;">Email:</th>
            <th style="width:12.5%;">Role:</th>
            <th style="width:12.5%;">Actions:</th>
        </tr>
        @for (int i = 0; i < UsersData.Count; i++)
        {
            <tr>
                <td>@UsersData[i].UserID</td>
                <td>@UsersData[i].FirstName</td>
                <td>@UsersData[i].LastName</td>
                <td>@UsersData[i].UserEmail</td>
                <td>@UsersData[i].UserRole</td>
                <td>
                    @if (Context.Session.GetString("AdminValidity") == "Super Admin")
                    {
                        @if (UsersData[i].UserRole != "Super Admin")
                        {
                            @Html.ActionLink("Delete User", "DeleteUser", "Users", new { UserID = UsersData[i].UserID }, new { onclick = "return confirm('Are you sure you want to delete this user?')" })
                            <br />
                        }
                        @Html.ActionLink("Edit User", "EditUserDetails", "Users", new { UserID = UsersData[i].UserID }, new
                        {
                            data_target = "#modal-container",
                            data_toggle = "modal"
                        })
                    }
                    @if (Context.Session.GetString("AdminValidity") == "Admin")
                    {
                        @if (UsersData[i].UserRole != "Super Admin")
                        {
                            @if (UsersData[i].UserRole != "Admin")
                            {
                                @if (Convert.ToInt32(Context.Session.GetString("LoginID")) != UsersData[i].UserID)
                                {
                                    @Html.ActionLink("Delete User", "DeleteUser", "Users", new { UserID = UsersData[i].UserID }, new { onclick = "return confirm('Are you sure you want to delete this user?')" })
                                    <br />
                                    }
                                @Html.ActionLink("Edit User", "EditUserDetails", "Users", new { UserID = UsersData[i].UserID }, new
                                {
                                    data_target = "#modal-container",
                                    data_toggle = "modal"
                                })
                            }
                        }       
                    }
                </td>
            </tr>
        }
    </table>



    <div id="modal-container" class="modal fade hidden-print" tabindex="1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>
</div>


