@model Centrics.Models.ServiceReport

@{
    ViewData["Title"] = "Add New Report";
}
<style>
    div.form-group {
        margin-bottom: 10px;
        margin: auto;
        border-bottom: 10px;
    }
</style>

<!-- Textbox-->
<script src="//cdn.ckeditor.com/4.9.0/basic/ckeditor.js"></script>

<h2 style="text-align:center;">Service Report</h2>

@using (Html.BeginForm("AddNewReport", "ServiceReport", FormMethod.Post,new { id = "serviceform"}))
{

    @Html.ValidationSummary("", new { @class = "text-danger" })

    
    <div class="form-group">
        @Html.LabelFor(m => m.SerialNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <h3>&nbsp; Client Details</h3>

    <div class="form-group">
        @Html.LabelFor(m => m.ClientCompanyName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ClientCompanyName, (List<SelectListItem>)ViewData["Companies"], "Select Company", new { @class = "form-control" })
        </div>
    </div>

    <div id="loadoutautobots" ></div>

    <h3> &nbsp; Visit Details</h3>
    <div class="form-group">

        @Html.LabelFor(m => m.PurposeOfVisit, new { @class = "col-md-2 control-label chzn-select" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.PurposeOfVisit,
                                                                  new MultiSelectList((List<SelectListItem>)ViewData["Purpose"], "Value", "Text"),
                                                                 new { style = "display:block;", @class = "form-control" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", style = "width=200px;height=50px;" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Remarks, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TimeStart, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.TimeStart, new { @class = "date-picker" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TimeEnd, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.TimeEnd, new { @class = "date-picker" })
            <br />
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.AttendedByStaffName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AttendedByStaffName, new { @class = "form-control" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.JobStatus, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.JobStatus,
                                                             new MultiSelectList((List<SelectListItem>)ViewData["JobStatusList"], "Value", "Text"),
                                                                  new { @class = "form-control" })
        </div>
    </div>

    <input type="submit" value="Confirm" />
    <input type="reset" value="Cancel" />
}
<!-- replacing text area-->
<script>
    CKEDITOR.replace("Description");
    CKEDITOR.replace("Remarks");
</script>

<script>
    function fun() {

        var meh = document.getElementById("postal").value;
        $.ajax({
            url: '@Url.Action("ReturnPostalAsync","ServiceReport")',
            method: "post",
            data: { postal: meh },
            success: function (data) {
                var x = document.getElementById("address");
                x.value = data;}
        }).done(function (data) {
            var x = document.getElementById("address");
            x.value = data;
        });
        //}).done(function (data) {
        //    var x = document.getElementById("address")
        //    x.value = data
        //}).fail(function () {
        //    //error
        //});
    }

</script>