@model Centrics.Models.ServiceReport


@{
    ViewData["Title"] = "Add New Report";
}
<style>
    div.form-group {
        margin-bottom: 10px;
        margin: auto;
        border-bottom: 10px;
    }
</style>

<!-- jQuery UI CSS Reference -->
<link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
<!-- Required jQuery and jQuery UI Javascript references -->
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.10.4.min.js")"></script>

<!-- Code to wire up your DatePicker -->
<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>

<!-- Textbox-->
<script src="//cdn.ckeditor.com/4.9.0/basic/ckeditor.js"></script>

<h2 style="text-align:center;">Service Report</h2>
@using (Html.BeginForm("EditReport", "ServiceReport", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @*Questionably needed to display this here maybe? for reference*@
    <div class="form-group">
        @Html.LabelFor(m => m.SerialNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <h3>&nbsp; Client Details</h3>

    <div class="form-group">
        @Html.LabelFor(m => m.ClientCompanyName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.DropDownListFor(m => m.ClientCompanyName, (List<SelectListItem>)ViewData["Companies"], "Select Company", new { @class = "form-control" })*@
            @Html.TextBoxFor(m => m.ClientCompanyName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ClientAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ClientAddress, new { @class = "form-control", @readonly = "readonly" })
            <br />
        </div>
    </div>

    <h3> &nbsp; Visit Details</h3>
    <div class="form-group">

        @Html.LabelFor(m => m.PurposeOfVisit, new { @class = "col-md-2 control-label chzn-select" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.PurposeOfVisit,
                                        new MultiSelectList((List<SelectListItem>)ViewData["Purpose"], "Value", "Text"),
                                       new { style = "display:block;" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", style = "width=200px;height=50px;" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Remarks, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", style = "height:80px;" })
            <br />
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Date, new { @class = "form-control" })
            </div>
        </div>*@
    //wtf why cant get date
    <div class="form-group">
        @Html.LabelFor(m => m.TimeStart, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @{
                TimeSpan timing = Model.TimeStart.TimeOfDay;
                DateTime datey = Model.TimeStart.Date;
                DateTime dTe = datey + timing;
            }
            @Html.EditorFor(m => dTe,null,"TimeStart",null)

            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TimeEnd, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @{

                TimeSpan time = Model.TimeEnd.TimeOfDay;
                DateTime date = Model.TimeEnd.Date;
                DateTime dT = date + time;
            }
            @Html.EditorFor(m => dT,null,"TimeEnd" ,null)
            <br />
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(m => m.MSHUsed, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MSHUsed, new { @class = "form-control" })
                <br />
            </div>
        </div>*@

    <p> Acknowledgement?</p>
    <div class="form-group">
        @Html.LabelFor(m => m.AttendedByStaffName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AttendedByStaffName, new { @class = "form-control" })
            <br />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.JobStatus, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.JobStatus,
                                                                  new MultiSelectList((List<SelectListItem>)ViewData["JobStatusList"], "Value", "Text"),
                                                                       new { @class = "form-control" })
        </div>
    </div>

    <input type="submit" value="Edit Report" />
    <input type="reset" value="Cancel" />

}
<script>
    CKEDITOR.replace("Description");
    CKEDITOR.replace("Remarks");
</script>