@model ClientAddress
@{

}

<h2>Add New Company</h2>
<br /> <br />
@using (Html.BeginForm("AddNewCompany", "ClientAddress", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.ClientCompany, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ClientCompany, new { @class = "form-control", maxlength = "100" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", maxlength = "80" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Contact, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", maxlength = "30" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ContactNo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", maxlength = "10" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", maxlength = "80" })
        </div>
    </div>
    <input type="submit" value="Add new company" />
}
